<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="../images/favicon.png"
      type="image/x-icon"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"
    />
    <title>Login</title>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap");

      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: gilroy;
      }

      html,
      body {
        height: 100%;
        width: 100%;
      }

      .mainCtn {
        height: 100%;
        width: 100%;
        background-color: #fafafa;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .img-ctn {
        padding-top: 3vw;
        width: 40%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
      }

      .img-ctn > img {
        height: 90%;
        width: 100%;
        object-fit: cover;
        object-position: center;
      }

      .loginSec {
        width: 40%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-top: 3vw;
        flex-direction: column;
      }

      .wrapper {
        padding: 0vw 3vw;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 74%;
        width: 70%;
        background-color: white;
        border: 1px solid rgba(128, 128, 128, 0.5);
      }

      .wrapper h1 {
        font-size: 3vw;
        /* font-family: "Berkshire Swash", cursive; */
        font-family: gilroy;
        /* letter-spacing: 0.2vw; */
        margin-bottom: 4vw;
      }

      #btn {
        border: none;
      }

      .wrapper form {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
      }

      .inp-ctn {
        position: relative;
        /* border: 2px solid black; */
      }

      .inp-ctn > i {
        position: absolute;
        top: 18%;
        left: 4%;
        font-size: 1.1vw;
      }

      .wrapper form .inp-ctn input {
        width: 20vw;
        height: 5.5vh;
        margin: 0vw 0vw 1vw 0vw;
        background-color: #fafafa;
        /* border: 1px solid rgba(128, 128, 128, 0.5); */
        border: 1px solid black;

        outline: none;
        padding-left: 0.8vw;
        border-radius: 3px;
        cursor: pointer;
        font-size: 0.9vw;
      }

      .wrapper form .inp-ctn:focus .inp-ctn > i {
        display: none;
      }

      #btn {
        /* background-color: #0095f6; */
        background-color: #2543ed;
        color: white;
        font-weight: 600;
        font-size: 1vw;
        margin-top: 3vw;
        margin-bottom: 2vw;
      }

      .wrapper form p a {
        text-decoration: none;
        color: gray;
        font-size: 0.9vw;
      }

      footer {
        position: absolute;
        bottom: 3%;
        left: 50%;
        transform: translate(-50%, 0%);
        color: rgb(128, 128, 128);
        font-size: 0.9vw;
      }

      #loginLink {
        height: 10%;
        width: 70%;
        background-color: white;
        border: 1px solid rgba(128, 128, 128, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 1vh;
        font-size: 1vw;
      }

      #loginLink > a {
        text-decoration: none;
        color: #0095f6;
        font-weight: 500;
      }

      @media (max-width: 500px) {
        .img-ctn {
          display: none;
        }

        .loginSec {
          margin-top: 8vw;
          width: 100%;
        }

        .wrapper {
          width: 80%;
        }

        .wrapper h1 {
          font-size: 8vw;
          margin-bottom: 12vw;
        }

        .wrapper form .inp-ctn input {
          width: 65vw;
          height: 6vh;
          margin: 0vw 0vw 3vw 0vw;
          padding-left: 2vw;
          font-size: 3vw;
        }

        #btn {
          font-size: 3vw;
          margin-top: 6vw;
          margin-bottom: 5vw;
        }

        .wrapper form p a {
          font-size: 2.5vw;
        }

        #loginLink {
          width: 80%;
          font-size: 3vw;
        }

        footer {
          font-size: 2vw;
          text-align: center;
        }
      }

      @media (max-height: 400px) {
        .wrapper h1 {
          margin-bottom: 3vw;
        }

        #btn {
          margin: 2vw 0vw;
        }

        .wrapper form .inp-ctn input {
          height: 8vw;
        }
      }
      .img-ctn img{
        background-size: cover;
        height: 50%;
      }
      
    </style>
  </head>
  <body>
    <div class="mainCtn">
      <div class="img-ctn">
        <img src="../images/5165306.jpg" alt="" />
      </div>
      <div class="loginSec">
        <div class="wrapper">
          <h1>User Login</h1>
          <form action="/login" method="post">
            <div class="inp-ctn">
              <input
                type="text"
                class="inp"
                id="username"
                name="username"
                placeholder="      Username"
              />
              <i class="ri-account-box-fill i"></i>
            </div>
            <div class="inp-ctn">
              <input
                type="password"
                class="inp"
                id="password"
                name="password"
                placeholder="      Password"
              />
              <i class="ri-lock-2-fill i"></i>
            </div>
            <div class="inp-ctn">
              <input type="submit" id="btn" value="Log In" />
            </div>
            <p>
              <a href=""><b>Forget Password?</b></a>
            </p>
          </form>
        </div>
        <div id="loginLink">
          Don't have an account?&nbsp;<a href="/acCreate">Create Account</a>
        </div>
      </div>
      <footer>Copyright &copy; 2023 UrbanCart.Com. All rights reserved.</footer>
    </div>
    <script>
      let allInput = document.querySelectorAll(".inp");
      let allI = document.querySelectorAll(".i");

      allInput.forEach((e, i) => {
        e.addEventListener("click", () => {
          allI[i].style.display = "none";
          e.placeholder = "";
        });
      });
    </script>
  </body>
</html>
